                    <li>
                      <div class="commentboxgrey">
                        <h2 class="gem-name"><%=h gemcast.rubygem.name %></h2>
                        <h2 class="comment-title"><%=h gemcast.title %></h2>
                        <div class="summary-wrapper">
                          <div class="rate-wrapper">
                            <div><img src="<%= gemcast.useful_chart_url.untaint %>" /></div>
                            <div>役立ち度(<%=h plus_minus_total(gemcast) %>人による評価)</div>
                          </div>
                          <div class="comments-wrapper">
                            <p><%=h gemcast.summary %></p>
                          </div>
                        </div>
                        <div class="comment-date"><%=h gemcast.method %> by <%=h gemcast.user.name %>  at <%=h gemcast.last_update_string %></div>
                        <div class="link-wrapper"><%= link_to('詳細へ', gemcast_path({:id => gemcast.id, :rubygem_id => gemcast.rubygem.to_param})) %></div>
                      </div>
                    </li>
