        <div id="content-1">
          <div class="content-wrap">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">総合評価</h2>
            <div style="overflow:hidden;">
              <ul>
                <% num = 0  -%>
                <% general_ranks.each do |ranking| -%>
                <% num += 1 -%>
                <li><span><%= num %></span><span>(<%=h ranking.point %>pt)</span><%= link_to(sanitize(ranking.rubygem.name), rubygem_path(ranking.rubygem)).untaint %></li>
                <% end -%>
              </ul>
            </div>
          </div>
        </div>
        <div id="content-2">
          <div class="content-wrap">
              <div class="content-area">
                <h2>ログインすると幸せになれるかも知れません…</h2>
              </div>
              <% if @newgems.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着Gems</h3>
               	  <hr>
               	  <div class="sub-header">New gems</div>
                </div>
                <div class="list-wrapper">
                  <ol
                    <% @newgems.each do |gem| -%>
                    <li>
                      <div class="commentboxgrey">
                        <h2 class="gem-name"><%=h gem.name %></h2>
                        <div class="summary-wrapper">
                          <div class="rate-wrapper">
                            <div><img src="<%= gem.love_chart_url.untaint %>" width="130" height="50" /></div>
                            <div>愛され度(<%=h plus_minus_total(gem) %>人による評価)</div>
                          </div>
                          <div class="comments-wrapper">
                            <p>何:<%=h gem.count_info[:whatisthis] %>件 良:<%=h gem.count_info[:strength] %>件 悪:<%=h gem.count_info[:weakness] %>件<br />
                            GemCasts:<%=h gem.count_info[:gemcast] %>件<br />
                            うんちく:<%=h gem.count_info[:unchiku] %>件<br />
                            最新版での障害:<%=h gem.count_info[:obstacle] %>件</p>
                          </div>
                        </div>
                        <div class="tag-name">Tag : <%=h tag_string_or_none(gem) %></div>
                        <div class="comment-date">Last update on <%=h gem.last_update_string %></div>
                        <div class="link-wrapper"><%= link_to('詳細へ', rubygem_path(gem)).untaint %></div>
                      </div>
                    </li>
                    <% end -%>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of content-area -->
              <% end -%>
              <% if @gemcasts.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着GemCasts</h3>
               	  <hr>
               	  <div class="sub-header">New video tutorials</div>
                </div>
                <div class="list-wrapper">
                  <ol>
                    <% @gemcasts.each do |gemcast| -%>
                    <li>
                      <div class="commentboxgrey">
                        <h2 class="gem-name"><%=h gemcast.rubygem.name %></h2>
                        <h2 class="comment-title"><%=h gemcast.title %></h2>
                        <div class="summary-wrapper">
                          <div class="rate-wrapper">
                            <div><img src="<%= gemcast.useful_chart_url.untaint %>" width="130" height="50" /></div>
                            <div>役立ち度(<%=h plus_minus_total(gemcast) %>人による評価)</div>
                          </div>
                          <div class="comments-wrapper">
                            <p><%=h gemcast.summary %></p>
                          </div>
                        </div>
                        <div class="comment-date">Posted by <%=h gemcast.user.name %>  at <%=h gemcast.last_update_string %></div>
                        <div class="link-wrapper"><%= link_to('詳細へ', show_path_for_gemcast(gemcast)) %></div>
                      </div>
                    </li>
                    <% end -%>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of con tent-area-->
              <% end -%>
              <% if @unchikus.size > 0  -%>
              <div class="content-area header-wrapper">
              	<div class="content-header">
               	  <h3>新着うんちく</h3>
               	  <hr>
               	  <div class="sub-header">New comments</div>
                </div>
                <div class="list-wrapper">
                  <ol>
                    <% @unchikus.each do |unchiku| -%>
                    <li>
                      <div class="commentboxgrey">
                        <h2 class="gem-name"><%=h unchiku.rubygem.name %></h2>
                        <h2 class="comment-title"><%=h unchiku.title %></h2>
                        <div class="summary-wrapper">
                          <div class="rate-wrapper">
                            <div><img src="<%= unchiku.useful_chart_url.untaint %>" width="130" height="50" /></div>
                            <div>役立ち度(<%=h plus_minus_total(unchiku) %>人による評価)</div>
                          </div>
                          <div class="comments-wrapper">
                            <p><%=h unchiku.summary %></p>
                          </div>
                        </div>
                        <div class="comment-date">Direct commented by <%=h unchiku.user.name %> at <%=h unchiku.last_update_string %></div>
                        <div class="link-wrapper"><%= link_to('詳細へ', show_path_for_unchiku(unchiku)) %></div>
                      </div>
                    </li>
                    <% end -%>
                  </ol>
                </div><!-- end of list-wrapper -->
              </div><!-- end of content-area -->
              <% end -%>
          </div><!-- end of content-wrap -->
        </div>
