        <div id="content-1">
          <%= render :partial => 'share/spec' %>
        </div>
        <div id="content-2">
          <div class="content-wrap">
            <div class="content-area header-wrapper">
              <div class="content-header">
               	<h3>短評</h3>
               	<hr>
               	<div class="sub-header">Abstracts</div>
              </div>
              <div class="line-group">
                <h4 class="line-header">このGemは何が出来るの?</h4>
                <ul class="line-message">
                  <% @gem.what.each do |s| -%>
                  <li><%=h s.message %> (<%=h plus_minus_total(s) %>人)
                    <% if logged_in? -%>
                    <%= chose_rate_links(s, current_user, plus_useful_what_path(:id => s.id, :rubygem_id => @gem.to_param), minus_useful_what_path(:id => s.id, :rubygem_id => @gem.to_param), reset_useful_what_path(:id => s.id, :rubygem_id => @gem.to_param)) %>
                      <% if current_user.id == s.user_id -%>
                      <%= link_to('削除', what_path({:id => s.id, :rubygem_id => @gem.to_param}), {:method => :delete, :confirm => 'まじで?'}) %>
                      <% end -%>
                    <% end -%>
                  </li>
                  <% end -%>
                </ul>
                <% if logged_in? -%>
                <div class="abstract-add">
                  <% form_for(What.new, {:url => whats_path(:rubygem_id => @gem.to_param), :html => {:class => "niceforms", :method => :post}}) do |f| %>
                    <%= f.error_messages %>
                    <%= f.text_field(:message, {:class => "coolinput", :title => "Come on your idea!!"}) %>
                    <%= f.submit("追加") %>
                  <% end %>
                </div>
                <% end -%>
              </div>
              <div class="line-group">
                <h4 class="line-header">どこが嬉しいの?</h4>
                <ul class="line-message">
                  <% @gem.strength.each do |s| -%>
                  <li><%=h s.message %> (<%=h plus_minus_total(s) %>人)
                    <% if logged_in? -%>
                    <%= chose_rate_links(s, current_user, plus_useful_strength_path(:id => s.id, :rubygem_id => @gem.to_param), minus_useful_strength_path(:id => s.id, :rubygem_id => @gem.to_param), reset_useful_strength_path(:id => s.id, :rubygem_id => @gem.to_param)) %>
                      <% if current_user.id == s.user_id -%>
                      <%= link_to('削除', strength_path({:id => s.id, :rubygem_id => @gem.to_param}), {:method => :delete, :confirm => 'まじで?'}) %>
                      <% end -%>
                    <% end -%>
                  </li>
                  <% end -%>
                </ul>
                <% if logged_in? -%>
                <div class="abstract-add">
                  <% form_for(Strength.new, {:url => strengths_path(:rubygem_id => @gem.to_param), :html => {:class => "niceforms", :method => :post}}) do |f| %>
                    <%= f.error_messages %>
                    <%= f.text_field(:message, {:class => "coolinput", :title => "Come on your idea!!"}) %>
                    <%= f.submit("追加") %>
                  <% end %>
                </div>
                <% end -%>
              </div>
              <div class="line-group">
                <h4 class="line-header">どこが苦手なの?</h4>
                <ul class="line-message">
                  <% @gem.weakness.each do |s| -%>
                  <li><%=h s.message %> (<%=h plus_minus_total(s) %>人)
                    <% if logged_in? -%>
                    <%= chose_rate_links(s, current_user, plus_useful_weakness_path(:id => s.id, :rubygem_id => @gem.to_param), minus_useful_weakness_path(:id => s.id, :rubygem_id => @gem.to_param), reset_useful_weakness_path(:id => s.id, :rubygem_id => @gem.to_param)) %>
                      <% if current_user.id == s.user_id -%>
                      <%= link_to('削除', weakness_path({:id => s.id, :rubygem_id => @gem.to_param}), {:method => :delete, :confirm => 'まじで?'}) %>
                      <% end -%>
                    <% end -%>
                  </li>
                  <% end -%>
                </ul>
                <% if logged_in? -%>
                <div class="abstract-add">
                  <% form_for(@gem.weakness.build, {:url => weaknesses_path({:rubygem_id => @gem.to_param}), :html => {:class => "niceforms"}}) do |f| %>
                    <%= f.error_messages %>
                    <%= f.text_field(:message, {:class => "coolinput", :title => "Come on your idea!!"}) %>
                    <%= f.submit("追加") %>
                  <% end %>
                </div>
                <% end -%>
              </div>
            </div>
            <div class="content-area header-wrapper">
              <div class="content-header">
                <h3>GemCasts</h3>
                <hr>
                <div class="sub-header">Video tutorials</div>
              </div>
              <div class="list-wrapper">
                <ol>
                  <% if 0 == @gem.gemcasts.size -%>
                    <li>寂しい限りだ。。。</li>
                  <% end -%>
                  <%= render :partial => "share/gemcast", :collection => @gem.gemcasts %>
                </ol>
                <% if logged_in? -%>
                <div class="comment-add right-side"><%= niceforms_button_to('Gemcast追加', new_gemcast_path(@gem), :method => :get) %></div>
                <% end -%>
              </div><!-- end of list-wrapper -->
            </div>
            <div class="content-area header-wrapper">
              <div class="content-header">
                <h3>うんちく</h3>
                <hr>
                <div class="sub-header">Comments</div>
              </div>
              <div class="list-wrapper">
                <ol>
                  <% if 0 == @gem.unchikus.size -%>
                    <li>寂しい限りだ。。。</li>
                  <% end -%>
                  <%= render :partial => "share/unchiku", :collection => @gem.unchikus %>
                </ol>
                <% if logged_in? -%>
                <div class="comment-add right-side"><%= niceforms_button_to('うんちく追加', new_unchiku_path(@gem), :method => :get) %></div>
                <% end -%>
              </div><!-- end of list-wrapper -->
              <div class="content-footer right-side"><%= link_to('戻る', root_path) %></div>
            </div>
          </div>
        </div>
