        <div id="content-1">
          <%= render :partial => 'profile' %>
        </div>
        <div id="content-2">
          <div class="content-wrap">
            <div class="content-area">
              <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">身を入れ替えていけ</h2>
            </div>
            <div class="content-area">
              <p>your OpenID : <%=h @user.claimed_url %></p>
              <% form_for(@user, :url => mypage_path, :html => {:class => "niceforms"}) do |f| -%>
                <%= f.error_messages %>
                <p>
                  <label for="mypage_nickname">表示名(必須・ユニーク)</label><br />
                  <%= f.text_field(:nickname) %>
                </p>
                <p>
                  <label for="mypage_email">メアド(今んとこ未使用)</label><br />
                  <%= f.text_field(:email) %>
                </p>
                <p>
                  <label for="mypage_full_name">本名(今んとこ未使用)</label><br />
                  <%= f.text_field(:fullname) %>
                </p>
                <p>
                  <label for="mypage_birth_date">誕生日(今んとこ未使用)</label><br />
                  <%= f.date_select(:birth_day, :use_month_numbers => true) %>
                </p>
                <p>
                  <label for="mypage_gender">性別(今んとこ未使用)</label><br />
                  <label><%= f.radio_button(:gender, '0')  %>男性</label><br />
                  <label><%= f.radio_button(:gender, '1')  %>女性</label>
                </p>
                <p>
                  <label for="mypage_postcode">郵便番号(3桁-4桁で)<br />(でも今んとこ未使用)</label><br />
                  <%= f.text_field(:postcode) %>
                </p>
                <p>
                  <label for="mypage_country">住んでいる国(今んとこ未使用)</label><br />
                  <%= f.country_select(:country) %>
                </p>
                <p>
                  <label for="mypage_language">言語(今んとこ未使用)</label><br />
                  <%= f.text_field(:language) %>
                </p>
                <p>
                  <label for="mypage_timezone">タイムゾーン(今んとこ未使用)</label><br />
                  <%= f.time_zone_select(:timezone) %>
                </p>
                <%= f.submit("Update") -%>
              <% end -%>
            </div>
            <!-- end of content-area -->
          </div>
          <!-- end of content-wrap -->
        </div>
