        <div id="content-1">
          <%= render :partial => 'profile' %>
        </div>
        <div id="content-2">
          <div class="content-wrap">
            <div class="content-header">
              <h3>お気に入り</h3>
              <hr>
              <div class="sub-header">Favorits</div>
            </div>
            <% if @favorites.size > 0  -%>
            <div class="content-area">
              <div class="pagenate">
                <%= link_to "前へ", {:page => @favorites.previous_page} if @favorites.previous_page? %>
                <%= paginating_links(@favorites, :window_size => 20) %>
                <%= link_to "次へ", {:page => @favorites.next_page} if @favorites.next_page? %> 
              </div>
            </div>
            <div class="content-area header-wrapper">
              <div class="list-wrapper">
                <ol>
                  <%= render :partial => "share/gem", :collection => @favorites %>
                </ol>
              </div><!-- end of list-wrapper -->
            </div><!-- end of content-area -->
            <div class="content-area">
              <div class="pagenate">
                <%= link_to "前へ", {:page => @favorites.previous_page} if @favorites.previous_page? %>
                <%= paginating_links(@favorites, :window_size => 20) %>
                <%= link_to "次へ", {:page => @favorites.next_page} if @favorites.next_page? %> 
              </div>
            </div>
            <% end -%>
            <!-- end of con tent-area-->
            <!-- end of content-area -->
          </div>
          <!-- end of content-wrap -->
        </div>
