
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%=h @title %> | GEMSPEC.INFO</title>
<!--
!!DO NOT DELETE THIS COMMENT!!

	// "Somewhere Peaceful"  v1.0 (11th December 2007) (C) Gordon Mackay. //

- Website: http://gordonmac.com/
- Contact me: http://gordonmac.com/contact/
- Free stuff: http://gordonmac.com/downloads/
-->
<%= javascript_include_tag(:defaults, :cache => 'cache/defaults') %>
<%= javascript_include_tag('interface') %>
<%= javascript_include_tag('jglycy-1.0', 'jforms.1.0', 'jquery.coolinput', 'jquery.dimensions', 'jquery.gradient', 'jquery.jgrowl', 'jquery.simplemodal', 'jquery.slider', 'jquery.curvycorners.min', 'lpomessage', :cache => 'cache/jqueries') %>
<%#= javascript_include_tag(:defaults) %>
<%#= javascript_include_tag('interface', 'jglycy-1.0', 'jforms.1.0', 'jquery.coolinput', 'jquery.dimensions', 'jquery.gradient', 'jquery.jgrowl', 'jquery.simplemodal', 'jquery.slider', 'jquery.curvycorners.min', 'lpomessage') %>
<%#= javascript_include_tag(:all) %>
<%# = javascript_include_tag(:all, :cache => 'cache/all.js') %>
<%= yield :other_js %>

<%= stylesheet_link_tag 'stylesMain' %>
<!--[if lt IE 7]>
<%= stylesheet_link_tag 'PNGfix' %>
<![endif]-->
<!--[if lte IE 7]>
<style type="text/css">
#hornav ul li { padding: 0 0 0 10px; }
</style>
<![endif]-->
<!--[if lte IE 6]>
<style type="text/css">
#wrapper-body, #wrapper-1, #wrapper-2, #wrapper-3 { height: 1%; }
</style>
<![endif]-->
<%= stylesheet_link_tag 'niceforms-default', 'ui.stars', 'jgrowl/jquery.jgrowl', 'simplemodal/basic', 'lpomessage', 'jqueryslider', 'customize', 'acts_as_taggable_stylesheet', :cache => 'cache/all' %>
<%#= stylesheet_link_tag 'niceforms-default', 'ui.stars', 'jgrowl/jquery.jgrowl', 'simplemodal/basic', 'lpomessage', 'jqueryslider', 'customize', 'acts_as_taggable_stylesheet' %>
<%= javascript_include_tag('gemspec') %>

</head>
<body>
<div id="wrapper-body">
  <div id="wrapper-1">
    <div id="branding">
      <h1>GemSPEC.INFO</h1>
    </div>
    <div id="hornav">
      <ul>
        <% clone_sites.each do |site| -%>
        <li><%= link_to(site.country, :host => site.domain).untaint %></li>
        <% end -%>
      </ul>
    </div>
    <div id="wrapper-2">
      <div id="content-top" class="png">&nbsp;</div>
      <div id="wrapper-3">      
        
        <%= yield %>
        
        <div id="content-3">
          <div class="content-wrap login-indicator">
            <% if flash[:error] -%>  
            <%=h flash[:error] %>
            <% end -%>
          </div>
          <div class="content-wrap login-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">貴様証明</h2>
            <% if logged_in? -%>
              <p>User:<%=h current_user.nickname %> </p>
              <div class="mypage-link"><a href="/">トップ</a> <%= link_to('自己管理', mypage_path) %> <a href="/logout">ログアウト</a></div>
            <% else -%>
              <% form_tag(session_url, :class => "niceforms") do -%>
              <label for="openid_url" >
                OpenId URL:
              </label><br />
              <%= text_field_tag :openid_url, nil, {:class => "coolinput", :title => "Input your OpenID!"} -%>
              <%= submit_tag "Go" -%>
              <p class="how-to-input">OpenID持ってないなら<a href="http://openid.ne.jp" target="_blank">日本語ばっちこい</a>な所か、<a href="http://myopenid.com" target="_blank">最新技術ばっちこい</a>な所で取得するのがオススメです</p>
              <p class="how-to-input">OpenIDプロバイダはホワイトリストで制限をかけてますが、よほど怪しいトコじゃない限り縛るつもりはないので、使いたいURL教えてくれればホワイトリストに追加します(どんなOPがあるか実情を掴んでないのです)</p>
              <% end -%>
            <% end -%>
          </div>
          <div class="content-wrap search-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">検索</h2>
            <form accept-charset="UTF-8" action="/search" method="get">
              <div class="niceforms">
              	<input type="text" name="keyword" class="coolinput" title="gem name" />
              	<input type="button" id="search-detail-toggle" value="▽" />
	      </div>
              <div id="search-detail-panel" style="display:none;">
                <div>
                  <%= select_tag('tag', options_from_collection_for_select(tags_for_search, :id, :name)) %><br />するとき使うgem
                </div>
                <fieldset id="last-update-slider">
                    <div>最新versionリリース日</div>
                    <label for="from" class="sentence">From:</label>
                    <select name="from" id="from">
                        <option value="longago" selected="selected">問わない</option>
                        <option value="1year">1年前</option>
                        <option value="6mon">6ヶ月前</option>
                        <option value="1mon">1ヶ月前</option>
                        <option value="now">現在</option>
                    </select>
                    <label for="to" class="sentence">To:</label>
                    <select name="to" id="to">
                        <option value="longago">問わない</option>
                        <option value="1year">1年前</option>
                        <option value="6mon">6ヶ月前</option>
                        <option value="1mon">1ヶ月前</option>
                        <option value="now" selected="selected">現在</option>
                    </select>
                </fieldset>
              </div>
              <div class="niceforms">
              	<input type="submit" value="Go" />
              </div>
            </form>
          </div>
          <div class="content-wrap tag-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">使い分け</h2>
            <div class="how-to-input">「○○する」とき使うgem</div>
            <p><%= tag_cloud %></p>
          </div>
          <div class="content-wrap tag-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">このサイトについて</h2>
            <p class="how-to-input">まいむぞうが個人的に作ったRubyGemsの情報集約サイトです。</p>
            <p class="how-to-input">現在αリリースです。当然ばぎーです。</p>
            <p class="how-to-input">バグレポート・叱咤激励などなどは<%= mail_to('maimuzo@gmail.com', 'こちら', {:subject => 'report from GemSpec.info', :body => "Your name:\n\nOS and browser(with version):\n\nplease bug-reports or comments:\n\n"}) %></p>
          </div>
        </div>
        <div id="content-bottom">&nbsp;</div>
      </div>
      <div id="footer">
        <p>&copy;2008 Maimuzo. Some of rights reserved. <a id="licenser-toggle">Here is all licensers.</a></p>
      </div>
    </div>
  </div>
</div>
<div id="licenserPanel" style="display:none;">
    <h2>なかのひと(All licensers)</h2>
    <p>このシステムはクリエイティブコモンズライセンス下のコンテンツ、およびMIT及びGPLライセンス下のライブラリーを使用しています。特に、ユーザインタフェース周りにはjQueryUIを多用しています。</p>
    <p>This system is using contents under the Creative Commons License, and libraries under the MIT and the GPL license.</p>
    <h3>System</h3>
    <p>(c)2008 Yusuke Ohmichi ( Maimuzo ) - <a href="http://fromnorth.blogspot.com/">Web site</a> - <a href="mailto:maimuzo@gmail.com">Mail</a></p>
    <p>I remixed HTML and CSS and some of images based on Gordon's template. This HTML is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ja">Creative Commons Attribution-ShareAlike 3.0 License</a>.(but, I'm still building now. please wait a moment.)</p>
    <h3>HTML and CSS</h3>
    <p>(c)2007 Gordon Mackay. these contents are licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 License</a>.</p>
    <p>More details, see <a href="http://www.gordonmac.com/downloads/" target="_blank">his site</a>.</p>
    <h3>Images and Icons</h3>
    <ul>
    	<li>Some of Imgages.</li>
    </ul>
    <h3>Libraries and included contents</h3>
    <ul>
   	<li>jQuery</li>
    	<li>jQuery.ui</li>
    	<li>jforms(niceformes)</li>
    	<li>jquery.coolinput</li>
    	<li>jquery.dimensions</li>
    	<li>jquery.gradient</li>
    	<li>jgrowl</li>
    	<li>simplemodal</li>
    </ul>
    <p>※名称は<strong>勢いを大事</strong>にしています。特にコダワリは無いですが、いやんな人はメールで苦情をどうぞ。</p>
    <p>※バグとか誤字脱字や表示崩れなどはどしどしレポートください。右サイドのメールテンプレから受け付けます。</p>
</div>
<div id="LPOPanel" class="top-left"></div>
<%= render(:partial => "share/google_analytics") if RAILS_ENV == 'production' -%>
</body>
</html>
