<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Index | GEMSPEC.INFO</title>
<!--
!!DO NOT DELETE THIS COMMENT!!

	// "Somewhere Peaceful"  v1.0 (11th December 2007) (C) Gordon Mackay. //

- Website: http://gordonmac.com/
- Contact me: http://gordonmac.com/contact/
- Free stuff: http://gordonmac.com/downloads/
-->
<link href="stylesheets/stylesMain.css" rel="stylesheet" type="text/css" media="all" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="PNGfix.css" />
<![endif]-->
<!--[if lte IE 7]>
<style type="text/css">
#hornav ul li { padding: 0 0 0 10px; }
</style>
<![endif]-->
<!--[if lte IE 6]>
<style type="text/css">
#wrapper-body, #wrapper-1, #wrapper-2, #wrapper-3 { height: 1%; }
</style>
<![endif]-->
<script type="text/javascript" src="javascripts/jquery-1.2.6.min.js"></script>
<script type="text/javascript">
var $j = jQuery.noConflict();
</script>
<script type="text/javascript" src="javascripts/interface.js"></script>
<script type="text/javascript" src="javascripts/jquery.ui.all.js"></script>
<script type="text/javascript" src="javascripts/jglycy-1.0.js"></script>
<script type="text/javascript" src="javascripts/jforms.1.0.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/niceforms-default.css" media="screen" />
<script type="text/javascript" src="javascripts/jquery.coolinput.js"></script>
<script type="text/javascript" src="javascripts/jquery.dimensions.js"></script>
<script type="text/javascript" src="javascripts/jquery.gradient.js"></script>

<script type="text/javascript" src="javascripts/ui.stars.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/ui.stars.css">

<script type="text/javascript" src="javascripts/jquery.jgrowl.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/jgrowl/jquery.jgrowl.css">

<script type="text/javascript" src="javascripts/jquery.simplemodal.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/simplemodal/basic.css">
<!--
<link rel="stylesheet" type="text/css" href="stylesheets/simplemodal/basic_ie.css">
-->

<script type="text/javascript" src="javascripts/jquery.slider.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/jqueryslider.css">

<script type="text/javascript" src="javascripts/jquery.curvycorners.min.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/customize.css" media="all" />

<script type="text/javascript">
$j(document).ready( function() 
{
	// for search
	$j('form.niceforms').jForms({listSize:20, imagePath:'./images/niceforms/default/'});
	$j('div.niceforms').jForms({listSize:20, imagePath:'./images/niceforms/default/'});
	$j('input.coolinput').coolinput({blurClass: 'pre-input'});
	
	// for title
	$j('.part-of-title').corner();
	
	// for search panel detail 
	$j('#search-detail-toggle').click(function () {
	  $j('#search-detail-panel').slideToggle();
	  if('none' == $j('#search-detail-panel').css("display")){
	  	$j('#search-detail-panel+input').val("");
		$j('#license').val("");
	  }
	  target = $j('#search-detail-toggle');
	  if('▽' == target.val()){
	  	target.val("△");
	  }else{
	  	target.val("▽");
	  }
    });
	
	// for licensers
	$j('#licenser-toggle').click(function (e) {
		e.preventDefault();
		$j('#licenserPanel').modal();
	});

	// lastupdate slider
	$j("#search-detail-toggle").one("click", function(){
		// lastupdate slider
		$j('#last-update-slider').makeSlider(2, 170, false);
		// jForm enable for select
		$j('#niceforms-select').jForms({listSize:20, imagePath:'./images/niceforms/default/'});
	});
} );
/*
enhancedDomReady(function(){
	$('#last-update-slider').makeSlider(2, 380); // enable time slider
});
*/
</script>

<script type="text/javascript" src="javascripts/lpomessage.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/lpomessage.css">
<script type="text/javascript">
function emuJsonP(){
	eval('LPOCallback([ { "message" : "今日のオススメは×××です。興味ある方はクリックしてください", "url" : "gem.html" },  { "message" : "今日のオススメは○○○です。興味ある方はクリックしてください", "url" : "mypage.html" }, { "message" : "今日のオススメは無いので天気予報です。晴れです。", "url" : "" }, { "message" : "今日のオススメは無いので天気予報です。曇りです。", "url" : "" } ])');
}
</script>
<%= stylesheet_link_tag 'acts_as_taggable_stylesheet' %>

</head>
<body>
<div id="wrapper-body">
  <div id="wrapper-1">
    <div id="branding">
      <h1>GemSPEC.INFO</h1>
    </div>
    <div id="hornav">
      <ul>
        <li><a href="index.html">Japan</a></li>
        <li><a href="gem.html">USA</a></li>
        <li><a href="reverce.html">Thai</a></li>
      </ul>
    </div>
    <div id="wrapper-2">
      <div id="content-top" class="png">&nbsp;</div>
      <div id="wrapper-3">      
        
        <%= yield %>
        
        <div id="content-3">
          <div class="content-wrap login-indicator">
            <% if flash[:error] -%>  
            <%= flash[:error] %>
            <% end -%>
          </div>
          <div class="content-wrap login-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">貴様証明</h2>
            <% if login? -%>
              <p>User:<%=h logined_user.nickname %> </p>
              <div class="mypage-link"><a href="mypage.html">&gt; 自己管理</a> <a href="/logout">&gt; ログアウト</a></div>
            <% else -%>
              <% form_tag(session_url, :class => "niceforms") do |f| -%>
              <label for="openid_url" >
                OpenId URL:
              </label><br />
              <%= text_field_tag :openid_url, nil, {:class => "coolinput", :title => "Input your OpenID!"} -%>
              <%= submit_tag "Go" -%>
              <% end -%>
            <% end -%>
          </div>
          <div class="content-wrap search-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">検索</h2>
            <form accept-charset="UTF-8" action="index.html" method="get">
              <div class="niceforms">
              	<input type="text" name="searchthis" id="searchthis" size="15" class="coolinput" title="fulltext search" />
              	<input type="button" id="search-detail-toggle" value="▽" />
	          </div>
              <div id="search-detail-panel" style="display:none;">
                <div id="niceforms-select">
              	  <select name="license" id="license" class="coolinput">
                    <option value="*">問わない</option>
                    <option value="gpl">GPL</option>
                    <option value="mit">MIT</option>
                    <option value="ruby">ruby</option>
                    <option value="apache">apache</option>
                  </select>
                </div>
                <div class="niceforms">
                	<input name="tag" type="text" class="coolinput" title="search by tags" /><br />
                </div>
                <fieldset id="last-update-slider">
                    <div>最新版更新日</div>
                    <label for="from" class="sentence">From:</label>
                    <select name="from" id="from">
                        <option value="more" selected="selected">問わない</option>
                        <option value="1year">1年前</option>
                        <option value="6mon">6ヶ月前</option>
                        <option value="1mon">1ヶ月前</option>
                        <option value="now">現在</option>
                    </select>            
                    <label for="to" class="sentence">To:</label>
                    <select name="to" id="to">
                        <option value="more">問わない</option>
                        <option value="1year">1年前</option>
                        <option value="6mon">6ヶ月前</option>
                        <option value="1mon">1ヶ月前</option>
                        <option value="now" selected="selected">現在</option>
                    </select>
                </fieldset>
              </div>
              <div class="niceforms">
              	<input type="submit" value="Go" />
              </div>
            </form>
          </div>
          <div class="content-wrap tag-indicator">
            <h2 class="part-of-title" jg="gradient" jg:gradient="from:'c4bfac', to:'ffffff', direction:'vertical', length:100, position: 'right'">問題領域</h2>
            <p><%= tag_cloud %></p>
          </div>
          <div id="LPOToggle" class="content-wrap" style="display:none;">
            <form class="niceform">
            <input type="button" value="オススメをもう一度見る" onclick="LPOShowAgain();" />
			</form>
          </div>
          <div class="content-wrap">
          	<input type="button" value="LPO表示テスト" onclick="emuJsonP();" />
          </div>
        </div>
        <div id="content-bottom">&nbsp;</div>
      </div>
      <div id="footer">
        <p>&copy;2008 Maimuzo. Some of rights reserved. <a id="licenser-toggle">Here is all licensers.</a></p>
      </div>
    </div>
  </div>
</div>
<div id="licenserPanel" style="display:none;">
    <h2>なかのひと(All licensers)</h2>
    <p>このシステムはクリエイティブコモンズライセンス下のコンテンツ、およびMIT及びGPLライセンス下のライブラリーを使用しています。特に、ユーザインタフェース周りにはjQueryUIを多用しています。</p>
    <p>This system is using contents under the Creative Commons License, and libraries under the MIT and the GPL license.</p>
    <h3>System</h3>
    <p>(c)2008 Yusuke Ohmichi ( Maimuzo ) - <a href="http://fromnorth.blogspot.com/">Web site</a> - <a href="mailto:maimuzo@gmail.com">Mail</a></p>
    <p>I remixed HTML and CSS and some of images based on Gordon's template. It licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.ja">Creative Commons Attribution-ShareAlike 3.0 License</a>.</p>
    <h3>HTML and CSS</h3>
    <p>(c)2007 Gordon Mackay. these contents are licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons Attribution-ShareAlike 2.0 License</a>.</p>
    <p>More details, see <a href="http://www.gordonmac.com/downloads/" target="_blank">his site</a>.</p>
    <h3>Images and Icons</h3>
    <ul>
    	<li>Some of Imgages.</li>
    </ul>
    <h3>Libraries and included contents</h3>
  <ul>
   	<li>jQuery</li>
    	<li>jQuery.ui</li>
    	<li>jforms(niceformes)</li>
    	<li>jquery.coolinput</li>
    	<li>jquery.dimensions</li>
    	<li>jquery.gradient</li>
    	<li>ui.stars</li>
    	<li>jgrowl</li>
    	<li>simplemodal</li>
  </ul>
    <p>※名称は<strong>勢いを大事</strong>にしていますので、タグクラウドの事を「思考領域」とかは、あまり大きい声で言わない方が良いでしょう。</p>
</div>
<div id="LPOPanel" class="top-left"></div>
</body>
</html>
